@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');


.main{
    display: flex;
    justify-content:center;
    align-items:center;
}

.cake{
    position:absolute;
    width:100%;
    height:100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 2;
    object-position:top top;
}

.cake-overlay{
    top: 0;
    left: 0;
    position:absolute;
    z-index: 3;
    width:100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.4);
}

.greet{
    position:absolute;
    z-index: 4;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    margin-left: 40vw;
    margin-right: 30vw;
    margin-top: 35vh;
    margin-bottom: 35vh;
    font-size: 1rem;
}

.line1{
}

.line2{
    color: coral;
    margin-left: 5vw;
    margin-right:5vw;
}

